/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.list-view {
	-fx-background-color: rgb(255, 255, 255), rgb(255, 255, 255);
	-fx-background-insets: 0, 0;
	-fx-padding: 0;

}

